ConfigFiles/flows.json
[{"id":"8b96fcc79bdad2ee","type":"tab","label":"Flow 1","disabled":false,"info":"","env":[]},{"id":"6ec8be1a92932ad9","type":"tab","label":"Flow 2","disabled":false,"info":"","env":[]},{"id":"e3aded4c0f25cd47","type":"mqtt-broker","name":"","broker":"127.0.0.1","port":"1883","tls":"","clientid":"NodeRed","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"userProps":"","sessionExpiry":""},{"id":"e6c9d01854a1ea02","type":"ui_base","theme":{"name":"theme-dark","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#097479","value":"#097479","edited":false},"page-titlebar-backgroundColor":{"value":"#097479","edited":false},"page-backgroundColor":{"value":"#111111","edited":false},"page-sidebar-backgroundColor":{"value":"#333333","edited":false},"group-textColor":{"value":"#0eb8c0","edited":false},"group-borderColor":{"value":"#555555","edited":false},"group-backgroundColor":{"value":"#333333","edited":false},"widget-textColor":{"value":"#eeeeee","edited":false},"widget-backgroundColor":{"value":"#097479","edited":false},"widget-borderColor":{"value":"#333333","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey","palette":"light"}},"site":{"name":"GNSSTest","hideToolbar":"true","allowSwipe":"false","lockMenu":"true","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":33,"gx":1,"gy":1,"cx":1,"cy":1,"px":0,"py":1}}},{"id":"ded84e0e293fef03","type":"ui_tab","name":"Main Dasboard","icon":"dashboard","order":2,"disabled":false,"hidden":false},{"id":"ba6e9464a13f860b","type":"ui_tab","name":"Historical data","icon":"dashboard","disabled":false,"hidden":false},{"id":"b1d60e96202733dd","type":"ui_group","name":"Control Panel","tab":"ded84e0e293fef03","order":1,"disp":true,"width":20,"collapse":false,"className":""},{"id":"8ce1293b26033923","type":"ui_group","name":"Latitude","tab":"ded84e0e293fef03","order":4,"disp":true,"width":"20","collapse":true,"className":""},{"id":"c7a4f1abf13fdfd0","type":"ui_group","name":"Longitude","tab":"ded84e0e293fef03","order":5,"disp":true,"width":"20","collapse":true,"className":""},{"id":"0b350ca7f97b74bc","type":"ui_group","name":"Altitude","tab":"ded84e0e293fef03","order":6,"disp":true,"width":"20","collapse":true,"className":""},{"id":"051dd6f8bd6ccab8","type":"ui_group","name":"Speed and Sattellites","tab":"ded84e0e293fef03","order":7,"disp":true,"width":"20","collapse":false,"className":""},{"id":"bdcca5b8ec4a891c","type":"ui_group","name":"Map","tab":"ded84e0e293fef03","order":2,"disp":true,"width":"20","collapse":false,"className":""},{"id":"80c3c711c2b0a57f","type":"ui_group","name":"Session ID Selector","tab":"ba6e9464a13f860b","order":1,"disp":true,"width":"20","collapse":false,"className":""},{"id":"d565a86e11023108","type":"ui_group","name":"Speed","tab":"ba6e9464a13f860b","order":6,"disp":true,"width":"20","collapse":false,"className":""},{"id":"449b05f0a52b148c","type":"ui_group","name":"Altitude","tab":"ba6e9464a13f860b","order":5,"disp":true,"width":"20","collapse":false,"className":""},{"id":"eb46ee4bc4bd20e8","type":"ui_group","name":"Longitude","tab":"ba6e9464a13f860b","order":4,"disp":true,"width":"20","collapse":false,"className":""},{"id":"0b4c2b7e9d3f6da3","type":"ui_group","name":"Latitude","tab":"ba6e9464a13f860b","order":3,"disp":true,"width":"20","collapse":false,"className":""},{"id":"cf42febbb6efc9be","type":"ui_group","name":"Stats","tab":"ba6e9464a13f860b","order":2,"disp":true,"width":"20","collapse":false,"className":""},{"id":"1e683531a81362c5","type":"ui_group","name":"Sats","tab":"ba6e9464a13f860b","order":3,"disp":true,"width":"20","collapse":false,"className":""},{"id":"c971da7ac6c5d4a9","type":"ui_group","name":"Map","tab":"ba6e9464a13f860b","order":7,"disp":true,"width":"20","collapse":false,"className":""},{"id":"898fb76543b59284","type":"ui_spacer","z":"6ec8be1a92932ad9","name":"spacer","group":"80c3c711c2b0a57f","order":4,"width":"20","height":"2"},{"id":"e8c24eb94e714d44","type":"ui_spacer","z":"6ec8be1a92932ad9","name":"spacer","group":"80c3c711c2b0a57f","order":1,"width":"20","height":"4"},{"id":"e0ce40f6ed2036ab","type":"ui_spacer","z":"6ec8be1a92932ad9","name":"spacer","group":"80c3c711c2b0a57f","order":7,"width":"20","height":"2"},{"id":"f71210a9d375bf40","type":"ui_spacer","z":"8b96fcc79bdad2ee","name":"spacer","group":"b1d60e96202733dd","order":2,"width":10,"height":1},{"id":"026bf479e2d65cf3","type":"ui_spacer","z":"8b96fcc79bdad2ee","name":"spacer","group":"b1d60e96202733dd","order":3,"width":10,"height":1},{"id":"c9daa4de9bc7a8ad","type":"ui_spacer","z":"8b96fcc79bdad2ee","name":"spacer","group":"b1d60e96202733dd","order":4,"width":20,"height":1},{"id":"3537231f6ff581c7","type":"ui_spacer","z":"8b96fcc79bdad2ee","name":"spacer","group":"b1d60e96202733dd","order":5,"width":2,"height":1},{"id":"ed0485fe18e11fad","type":"ui_spacer","z":"8b96fcc79bdad2ee","name":"spacer","group":"b1d60e96202733dd","order":7,"width":4,"height":1},{"id":"5bacc318a8e0bace","type":"ui_spacer","z":"8b96fcc79bdad2ee","name":"spacer","group":"b1d60e96202733dd","order":9,"width":2,"height":1},{"id":"ea752508eed1d6a9","type":"ui_spacer","z":"8b96fcc79bdad2ee","name":"spacer","group":"b1d60e96202733dd","order":10,"width":20,"height":1},{"id":"ba7fcd7b82542b9c","type":"ui_spacer","z":"8b96fcc79bdad2ee","name":"spacer","group":"b1d60e96202733dd","order":11,"width":5,"height":1},{"id":"167657c3583b3cca","type":"ui_spacer","z":"8b96fcc79bdad2ee","name":"spacer","group":"b1d60e96202733dd","order":14,"width":5,"height":1},{"id":"76de2dc6f2028434","type":"ui_spacer","z":"8b96fcc79bdad2ee","name":"spacer","group":"b1d60e96202733dd","order":15,"width":20,"height":1},{"id":"915f2e047d6af86b","type":"ui_spacer","z":"8b96fcc79bdad2ee","name":"spacer","group":"b1d60e96202733dd","order":16,"width":5,"height":1},{"id":"183af5b1086e9841","type":"ui_spacer","z":"8b96fcc79bdad2ee","name":"spacer","group":"b1d60e96202733dd","order":19,"width":"5","height":"2"},{"id":"af6cc76ed859abc3","type":"postgreSQLConfig","name":"","host":"localhost","hostFieldType":"str","port":"5432","portFieldType":"num","database":"tsdb","databaseFieldType":"str","ssl":"false","sslFieldType":"bool","applicationName":"","applicationNameType":"str","max":"10","maxFieldType":"num","idle":"1000","idleFieldType":"num","connectionTimeout":"10000","connectionTimeoutFieldType":"num","user":"postgres","userFieldType":"str","password":"admin123","passwordFieldType":"str"},{"id":"3bcb6f23b344e8e2","type":"ui_group","name":"Stats","tab":"ded84e0e293fef03","order":7,"disp":true,"width":"20","collapse":false,"className":""},{"id":"48418b79.0f5834","type":"ui_tab","name":"Dashboard","icon":"dashboard","order":1},{"id":"73cc91746f0764fd","type":"function","z":"8b96fcc79bdad2ee","name":"prepareDevicesTable","func":"\nvar macaddress=msg.payload\nvar devices = context.get(\"devices\") ||[] ;\nif (!devices.includes(macaddress)) {\n   devices.push(macaddress);\n}\n\ncontext.set(\"devices\", devices);\nmsg.options= devices;\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":140,"y":500,"wires":[["2ed32d165e2bd961"]]},{"id":"754bf208f32e341e","type":"mqtt in","z":"8b96fcc79bdad2ee","name":"","topic":"esp/connection/connected","qos":"0","datatype":"utf8","broker":"e3aded4c0f25cd47","nl":false,"rap":false,"inputs":0,"x":130,"y":440,"wires":[["73cc91746f0764fd"]]},{"id":"cbb38d3aa48c885a","type":"function","z":"8b96fcc79bdad2ee","name":"SetTimeRange","func":"msg.fromdate = \"&from=now-\" + msg.payload + \"m&to=now\";\nflow.set(\"Timestamp\",msg.payload)\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":420,"y":260,"wires":[["8b92b7dc5b5c4a69","8104f4e63f2a232c","d1279256650743ac","3de461ba34bed283","1d24a604db7c50d2","f4962fa42a32f4f1","8fe11ebc650bd9ce"]]},{"id":"8b92b7dc5b5c4a69","type":"function","z":"8b96fcc79bdad2ee","name":"BuildLat","func":"var timeStamp = flow.get(\"Timestamp\")\nmsg.payload = \"http://192.168.0.213:3000/d-solo/a3f5b42a-39cc-4268-9b55-2af702fe2000/recent-data?orgId=1\" +\n    \"&refresh=5s\" +\n    \"&theme=dark\" +\n    \"&var-GetTime=\" + timeStamp +\n    \"&panelId=\" + 1+\n    msg.fromdate \n    \nreturn msg;\n\n","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":860,"y":20,"wires":[["d97eb009ca7d7423"]]},{"id":"8104f4e63f2a232c","type":"function","z":"8b96fcc79bdad2ee","name":"BuildLon","func":"var timeStamp = flow.get(\"Timestamp\")\nmsg.payload = \"http://192.168.0.213:3000/d-solo/a3f5b42a-39cc-4268-9b55-2af702fe2000/recent-data?orgId=1\" +\n    \"&refresh=5s\" +\n    \"&theme=dark\" +\n    \"&var-GetTime=\" + timeStamp +\n    \"&panelId=\" + 3 +\n    msg.fromdate \n    \nreturn msg;\n\n","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":860,"y":80,"wires":[["880aa47b631f0a16"]]},{"id":"d1279256650743ac","type":"function","z":"8b96fcc79bdad2ee","name":"BuildAlt","func":"var timeStamp = flow.get(\"Timestamp\")\nmsg.payload = \"http://192.168.0.213:3000/d-solo/a3f5b42a-39cc-4268-9b55-2af702fe2000/recent-data?orgId=1\" +\n    \"&refresh=5s\" +\n    \"&theme=dark\" +\n    \"&var-GetTime=\" + timeStamp +\n    \"&panelId=\" + 4 +\n    msg.fromdate\n\nreturn msg;\n\n","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":860,"y":200,"wires":[["7514e6331bac3a36"]]},{"id":"3de461ba34bed283","type":"function","z":"8b96fcc79bdad2ee","name":"BuildSpeed","func":"var timeStamp = flow.get(\"Timestamp\")\nmsg.payload = \"http://192.168.0.213:3000/d-solo/a3f5b42a-39cc-4268-9b55-2af702fe2000/recent-data?orgId=1\" +\n    \"&refresh=5s\" +\n    \"&theme=dark\" +\n    \"&var-GetTime=\" + timeStamp +\n    \"&panelId=\" + 5 +\n    msg.fromdate \n    \nreturn msg;\n\n","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":870,"y":140,"wires":[["4d46a217331c25a2"]]},{"id":"1d24a604db7c50d2","type":"function","z":"8b96fcc79bdad2ee","name":"Buildsats","func":"var timeStamp = flow.get(\"Timestamp\")\nmsg.payload = \"http://192.168.0.213:3000/d-solo/a3f5b42a-39cc-4268-9b55-2af702fe2000/recent-data?orgId=1\" +\n    \"&refresh=5s\" +\n    \"&theme=dark\" +\n    \"&var-GetTime=\" + timeStamp +\n    \"&panelId=\" + 7 +\n    msg.fromdate \n    \nreturn msg;\n\n","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":860,"y":260,"wires":[["1d52d726b9d66c3f"]]},{"id":"8fe11ebc650bd9ce","type":"function","z":"8b96fcc79bdad2ee","name":"Buildmap","func":"var timeStamp = flow.get(\"Timestamp\")\nvar deviceId = flow.get(\"deviceId\")\nmsg.payload = \"http://192.168.0.213:3000/d-solo/a3f5b42a-39cc-4268-9b55-2af702fe2000/recent-data?orgId=1\" +\n    \"&refresh=5s\" +\n    \"&theme=dark\" +\n    \"&var-getDevices=\" + deviceId +\n    \"&var-GetTime=\" + timeStamp +\n    \"&panelId=\" + 2 +\n    msg.fromdate \n    \nreturn msg;\n\n","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":860,"y":460,"wires":[["2c025a71615abd7f"]]},{"id":"f4962fa42a32f4f1","type":"function","z":"8b96fcc79bdad2ee","name":"Buildstats","func":"var timeStamp = flow.get(\"Timestamp\")\nmsg.payload = \"http://192.168.0.213:3000/d-solo/a3f5b42a-39cc-4268-9b55-2af702fe2000/recent-data?orgId=1\" +\n    \"&refresh=5s\" +\n    \"&theme=dark\" +\n    \"&var-GetTime=\" + timeStamp +\n    \"&panelId=\" + 6 +\n    msg.fromdate\n\nreturn msg;\n\n","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":860,"y":400,"wires":[["03931413a9eb1c3f"]]},{"id":"5b7b499126a34581","type":"function","z":"8b96fcc79bdad2ee","name":"function 16","func":"var deviceId = msg.payload;\nlet output = JSON.stringify(deviceId);\noutput = output.replaceAll(':', '%3A');\noutput = output.replaceAll('\"', '');\nflow.set(\"deviceId\", output);\nmsg.payload = output;\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":430,"y":580,"wires":[[]]},{"id":"a99807cfd5c351d9","type":"mqtt out","z":"8b96fcc79bdad2ee","name":"","topic":"gps/enable","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"e3aded4c0f25cd47","x":690,"y":660,"wires":[]},{"id":"d9f6a3507af49557","type":"mqtt out","z":"8b96fcc79bdad2ee","name":"","topic":"gps/disable","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"e3aded4c0f25cd47","x":690,"y":760,"wires":[]},{"id":"5cb2c781a0fea419","type":"mqtt in","z":"8b96fcc79bdad2ee","name":"","topic":"gps/metric/status","qos":"0","datatype":"auto-detect","broker":"e3aded4c0f25cd47","nl":false,"rap":true,"rh":0,"inputs":0,"x":100,"y":700,"wires":[["cb8e838b4945fcfd","c681162a960c3f1d"]]},{"id":"cb8e838b4945fcfd","type":"function","z":"8b96fcc79bdad2ee","name":"function 17","func":"if (msg.payload == \"started\") {\n    msg.enabled = true\n}\nelse if (msg.payload == \"stopped\") {\n    msg.enabled = false\n}\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":310,"y":760,"wires":[["c3ea71f8d9ddf953"]]},{"id":"c681162a960c3f1d","type":"function","z":"8b96fcc79bdad2ee","name":"function 18","func":"if (msg.payload == \"started\") {\n    msg.enabled = false\n}\nelse if (msg.payload == \"stopped\") {\n    msg.enabled = true\n}\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":290,"y":660,"wires":[["55c6a168c7a9d7e9"]]},{"id":"df8c965a1056a19d","type":"mqtt in","z":"8b96fcc79bdad2ee","name":"","topic":"gps/metric/enable","qos":"2","datatype":"auto-detect","broker":"e3aded4c0f25cd47","nl":false,"rap":true,"rh":0,"inputs":0,"x":230,"y":60,"wires":[["33c2d6c3774312aa"]]},{"id":"6107b14b5b200388","type":"ui_button","z":"8b96fcc79bdad2ee","name":"","group":"b1d60e96202733dd","order":12,"width":5,"height":1,"passthru":false,"label":"5 minutes","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"5","payloadType":"str","topic":"","topicType":"str","x":100,"y":160,"wires":[["cbb38d3aa48c885a"]]},{"id":"0148c17bae42e0b0","type":"ui_button","z":"8b96fcc79bdad2ee","name":"","group":"b1d60e96202733dd","order":13,"width":5,"height":1,"passthru":false,"label":"15 minutes","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"15","payloadType":"str","topic":"","topicType":"str","x":90,"y":220,"wires":[["cbb38d3aa48c885a"]]},{"id":"dc9b531329184440","type":"ui_button","z":"8b96fcc79bdad2ee","name":"","group":"b1d60e96202733dd","order":17,"width":5,"height":1,"passthru":false,"label":"30 minutes","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"30","payloadType":"str","topic":"","topicType":"str","x":90,"y":300,"wires":[["cbb38d3aa48c885a"]]},{"id":"5d1bf20146a79aae","type":"ui_button","z":"8b96fcc79bdad2ee","name":"","group":"b1d60e96202733dd","order":18,"width":5,"height":1,"passthru":false,"label":"1 hour","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"60","payloadType":"str","topic":"","topicType":"str","x":110,"y":380,"wires":[["cbb38d3aa48c885a"]]},{"id":"55c6a168c7a9d7e9","type":"ui_button","z":"8b96fcc79bdad2ee","name":"","group":"b1d60e96202733dd","order":8,"width":6,"height":1,"passthru":false,"label":"Enable","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"0","payloadType":"str","topic":"enabled","topicType":"msg","x":480,"y":660,"wires":[["a99807cfd5c351d9"]]},{"id":"c3ea71f8d9ddf953","type":"ui_button","z":"8b96fcc79bdad2ee","name":"","group":"b1d60e96202733dd","order":6,"width":6,"height":1,"passthru":false,"label":"Disable","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"0","payloadType":"str","topic":"disabled","topicType":"msg","x":480,"y":760,"wires":[["d9f6a3507af49557"]]},{"id":"2ed32d165e2bd961","type":"ui_dropdown","z":"8b96fcc79bdad2ee","name":"Devices List","label":"Connected devices","tooltip":"Click on module macaddres to locate it","place":"Select option","group":"b1d60e96202733dd","order":1,"width":10,"height":2,"passthru":true,"multiple":false,"options":[{"label":"","value":"","type":"str"}],"payload":"","topic":"esp/locate/","topicType":"str","className":"","x":430,"y":500,"wires":[["5b7b499126a34581","8fe11ebc650bd9ce"]]},{"id":"33c2d6c3774312aa","type":"ui_text","z":"8b96fcc79bdad2ee","group":"b1d60e96202733dd","order":19,"width":0,"height":0,"name":"","label":"Current Session","format":"{{msg.payload}}","layout":"row-center","className":"","style":false,"font":"","fontSize":16,"color":"#000000","x":500,"y":60,"wires":[]},{"id":"d97eb009ca7d7423","type":"ui_template","z":"8b96fcc79bdad2ee","group":"8ce1293b26033923","name":"LatIframe","order":1,"width":0,"height":0,"format":"<html>\n<iframe sandbox=\"allow-same-origin allow-scripts allow-popups allow-forms\" id=\"latFrame\" width=\"900px\" height=\"400px\" style = \"overflow:hidden; margin:auto; border:0px solid green;\"></iframe>\n\n<script>\n(function(scope) {\n    scope.$watch('msg', function(msg) {\n        var x = document.getElementById('latFrame');\n        x.setAttribute('src', msg.payload); \n        });\n})(scope);\n</script>\n</html>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":false,"templateScope":"local","className":"","x":1100,"y":20,"wires":[[]]},{"id":"880aa47b631f0a16","type":"ui_template","z":"8b96fcc79bdad2ee","group":"c7a4f1abf13fdfd0","name":"LonIframe","order":1,"width":0,"height":0,"format":"<html>\n<iframe id=\"lonFrame\" width=\"900px\" height=\"400px\" style = \"overflow:hidden; margin:auto; border:0px solid green;\"></iframe>\n\n<script>\n(function(scope) {\n    scope.$watch('msg', function(msg) {\n        var x = document.getElementById('lonFrame');\n        x.setAttribute('src', msg.payload); \n        });\n})(scope);\n</script>\n</html>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":false,"templateScope":"local","className":"","x":1100,"y":80,"wires":[[]]},{"id":"7514e6331bac3a36","type":"ui_template","z":"8b96fcc79bdad2ee","group":"0b350ca7f97b74bc","name":"AltIframe","order":1,"width":0,"height":0,"format":"<html>\n<iframe id=\"altFrame2\" width=\"900px\" height=\"400px\" style = \"overflow:hidden; margin:auto; border:0px solid green;\"></iframe>\n\n<script>\n(function(scope) {\n    scope.$watch('msg', function(msg) {\n        var x = document.getElementById('altFrame2');\n        x.setAttribute('src', msg.payload); \n        });\n})(scope);\n</script>\n</html>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":false,"templateScope":"local","className":"","x":1120,"y":200,"wires":[[]]},{"id":"4d46a217331c25a2","type":"ui_template","z":"8b96fcc79bdad2ee","group":"051dd6f8bd6ccab8","name":"SpdIframe","order":1,"width":0,"height":0,"format":"<html>\n<iframe id=\"spdFrame2\" width=\"900px\" height=\"400px\" style = \"overflow:hidden; margin:auto; border:0px solid green;\"></iframe>\n\n<script>\n(function(scope) {\n    scope.$watch('msg', function(msg) {\n        var x = document.getElementById('spdFrame2');\n        x.setAttribute('src', msg.payload); \n        });\n})(scope);\n</script>\n</html>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":false,"templateScope":"local","className":"","x":1110,"y":140,"wires":[[]]},{"id":"1d52d726b9d66c3f","type":"ui_template","z":"8b96fcc79bdad2ee","group":"051dd6f8bd6ccab8","name":"SatsIframe","order":2,"width":0,"height":0,"format":"<html>\n<iframe id=\"satFrame\" width=\"900px\" height=\"400px\" style = \"overflow:hidden; margin:auto; border:0px solid green;\"></iframe>\n\n<script>\n(function(scope) {\n    scope.$watch('msg', function(msg) {\n        var x = document.getElementById('satFrame');\n        x.setAttribute('src', msg.payload); \n        });\n})(scope);\n</script>\n</html>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":false,"templateScope":"local","className":"","x":1130,"y":260,"wires":[[]]},{"id":"2c025a71615abd7f","type":"ui_template","z":"8b96fcc79bdad2ee","group":"bdcca5b8ec4a891c","name":"mapIframe","order":1,"width":0,"height":0,"format":"<html>\n<iframe id=\"mapFrame\" width=\"900px\" height=\"400px\" style = \"overflow:hidden; margin:auto; border:0px solid green;\"></iframe>\n\n<script>\n(function(scope) {\n    scope.$watch('msg', function(msg) {\n        var x = document.getElementById('mapFrame');\n        x.setAttribute('src', msg.payload); \n        });\n})(scope);\n</script>\n</html>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":false,"templateScope":"local","className":"","x":1110,"y":460,"wires":[[]]},{"id":"03931413a9eb1c3f","type":"ui_template","z":"8b96fcc79bdad2ee","group":"3bcb6f23b344e8e2","name":"statsframe","order":2,"width":"0","height":"0","format":"<html>\n<iframe id=\"statsFrame\" width=\"900px\" height=\"400px\" style = \"overflow:hidden; margin:auto; border:0px solid green;\"></iframe>\n\n<script>\n(function(scope) {\n    scope.$watch('msg', function(msg) {\n        var x = document.getElementById('statsFrame');\n        x.setAttribute('src', msg.payload); \n        });\n})(scope);\n</script>\n</html>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":false,"templateScope":"local","className":"","x":1110,"y":400,"wires":[[]]},{"id":"1c2fcae77966a2a3","type":"ui_toast","z":"8b96fcc79bdad2ee","position":"top right","displayTime":"4","highlight":"","sendall":true,"outputs":0,"ok":"OK","cancel":"","raw":false,"className":"","topic":"Abnormal reading detected","name":"","x":1310,"y":580,"wires":[]},{"id":"8b87d958a30be958","type":"mqtt in","z":"8b96fcc79bdad2ee","name":"","topic":"gps/faulted","qos":"2","datatype":"auto-detect","broker":"e3aded4c0f25cd47","nl":false,"rap":true,"rh":0,"inputs":0,"x":800,"y":580,"wires":[["358ad2f1165af2bc"]]},{"id":"358ad2f1165af2bc","type":"function","z":"8b96fcc79bdad2ee","name":"function 24","func":"var id = msg.payload\n\nmsg.payload = \"Device \" + id + \" has abnormal readings and it will not be included in the algorithm calculations\";\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1010,"y":580,"wires":[["1c2fcae77966a2a3"]]},{"id":"feef42dab035231c","type":"play audio","z":"8b96fcc79bdad2ee","name":"","voice":"1","x":1270,"y":640,"wires":[]},{"id":"62ca73c402b1900d","type":"function","z":"6ec8be1a92932ad9","name":"GetSessionIDs","func":"let temp=[]\nfor (let i = 0; i < msg.payload.length; i++) {\n    temp.push(msg.payload[i].sessionid)}\nmsg.options = temp;\nreturn msg;\n","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":340,"y":300,"wires":[["804d92fc0fea5141"]]},{"id":"9cb3d108de8d0e5d","type":"function","z":"6ec8be1a92932ad9","name":"BuildLat","func":"var session = flow.get(\"sessionId\");\nmsg.payload = \"http://192.168.0.213:3000/d-solo/f1f6c4e2-a800-4ec9-9e31-12f6aad14ace/historical-sessions?orgId=1\" +\n    \"&var-getSessionIds=\" + msg.sessionId +\n    \"&panelId=\" + 2\nreturn msg;\n","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":1060,"y":60,"wires":[["fab12d8b5355e9b2"]]},{"id":"28c3eb0f8ac18141","type":"function","z":"6ec8be1a92932ad9","name":"BuildLon","func":"var session = flow.get(\"sessionId\");\nmsg.payload = \"http://192.168.0.213:3000/d-solo/f1f6c4e2-a800-4ec9-9e31-12f6aad14ace/historical-sessions?orgId=1\" +\n    \"&var-getSessionIds=\" + msg.sessionId +\n    \"&panelId=\" + 3\nreturn msg;\n","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":1060,"y":140,"wires":[["93cd6505cb37ad22"]]},{"id":"7fa0c7c64a7f316f","type":"function","z":"6ec8be1a92932ad9","name":"BuildAlt","func":"var session = flow.get(\"sessionId\");\nmsg.payload = \"http://192.168.0.213:3000/d-solo/f1f6c4e2-a800-4ec9-9e31-12f6aad14ace/historical-sessions?orgId=1\" +\n    \"&var-getSessionIds=\" + msg.sessionId +\n    \"&panelId=\" + 5\nreturn msg;\n","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":1060,"y":220,"wires":[["0beae26050b3ef9d"]]},{"id":"6b4e427fb87dace7","type":"function","z":"6ec8be1a92932ad9","name":"BuildSpeed","func":"var session = flow.get(\"sessionId\");\nmsg.payload = \"http://192.168.0.213:3000/d-solo/f1f6c4e2-a800-4ec9-9e31-12f6aad14ace/historical-sessions?orgId=1\" +\n    \"&var-getSessionIds=\" + msg.sessionId +\n    \"&panelId=\" + 4\nreturn msg;\n","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":1070,"y":360,"wires":[["176d149f4cf49907"]]},{"id":"c73b85ee7b3a801e","type":"function","z":"6ec8be1a92932ad9","name":"Buildsats","func":"var session = flow.get(\"sessionId\");\nmsg.payload = \"http://192.168.0.213:3000/d-solo/f1f6c4e2-a800-4ec9-9e31-12f6aad14ace/historical-sessions?orgId=1\" +\n    \"&var-getSessionIds=\" + msg.sessionId +\n    \"&panelId=\" + 6\nreturn msg;\n","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":1060,"y":440,"wires":[["9c859bf99ddc1728"]]},{"id":"166b5b3fd76e50a0","type":"function","z":"6ec8be1a92932ad9","name":"Buildmap","func":"var session = flow.get(\"sessionId\");\nvar deviceId = flow.get(\"deviceId\")\nmsg.payload = \"http://192.168.0.213:3000/d-solo/f1f6c4e2-a800-4ec9-9e31-12f6aad14ace/historical-sessions?orgId=1\" +\n    \"&var-getSessionIds=\" + session +\n    \"&var-getDevices=\" + deviceId + \n    \"&panelId=\" + 7\n\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":1060,"y":520,"wires":[["f4490b330279aa43"]]},{"id":"361be63ef6f04d92","type":"function","z":"6ec8be1a92932ad9","name":"getDevicesIDs","func":"let temp=[]\nfor (let i = 0; i < msg.payload.length; i++) {\n    temp.push(msg.payload[i].device)}\nmsg.options = temp;\nreturn msg;\n","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":440,"y":540,"wires":[["35a122150c7b215f"]]},{"id":"24acbef81d660a85","type":"inject","z":"6ec8be1a92932ad9","name":"","props":[{"p":"payload"}],"repeat":"60","crontab":"","once":true,"onceDelay":"1","topic":"","payload":"1","payloadType":"num","x":90,"y":460,"wires":[["da08a986e8272446","aed140cb4721e9ef","789d1249c2d9722f"]]},{"id":"640b4090313d5735","type":"json","z":"6ec8be1a92932ad9","name":"","property":"payload","action":"str","pretty":false,"x":1290,"y":700,"wires":[["420e34f323cb0d21"]]},{"id":"f85183421a821f7a","type":"function","z":"6ec8be1a92932ad9","name":"Buildstats","func":"var session = flow.get(\"sessionId\");\nmsg.payload = \"http://192.168.0.213:3000/d-solo/f1f6c4e2-a800-4ec9-9e31-12f6aad14ace/historical-sessions?orgId=1\" +\n    \"&var-getSessionIds=\" + msg.sessionId +\n    \"&panelId=\" + 8\nreturn msg;\n","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":1060,"y":600,"wires":[["c4aed6b1ccce909f"]]},{"id":"c8f0255fbc42870a","type":"function","z":"6ec8be1a92932ad9","name":"function 19","func":"\n\nmsg.field = msg.payload\nflow.set(\"field\", msg.field)\nreturn msg","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":550,"y":460,"wires":[[]]},{"id":"2fcd75b8b28d55fa","type":"ui_button","z":"6ec8be1a92932ad9","name":"","group":"80c3c711c2b0a57f","order":6,"width":"10","height":"2","passthru":false,"label":"Download Data","tooltip":"","color":"","bgcolor":"","className":"","icon":"fa-download","payload":"devideId","payloadType":"flow","topic":"topic","topicType":"msg","x":660,"y":720,"wires":[["d5897ac97fb87071"]]},{"id":"804d92fc0fea5141","type":"ui_dropdown","z":"6ec8be1a92932ad9","name":"","label":"Click to select ID","tooltip":"","place":"Select option","group":"80c3c711c2b0a57f","order":2,"width":"8","height":"2","passthru":true,"multiple":false,"options":[{"label":"","value":"","type":"str"}],"payload":"","topic":"payload","topicType":"msg","className":"","x":550,"y":300,"wires":[["aa272bee1079eb6a"]]},{"id":"35a122150c7b215f","type":"ui_dropdown","z":"6ec8be1a92932ad9","name":"","label":"Click to select Device","tooltip":"","place":"Select option","group":"80c3c711c2b0a57f","order":3,"width":"10","height":"2","passthru":true,"multiple":false,"options":[{"label":"","value":"","type":"str"}],"payload":"","topic":"payload","topicType":"msg","className":"","x":260,"y":640,"wires":[["c9568c244eb9ccc0"]]},{"id":"da08a986e8272446","type":"ui_dropdown","z":"6ec8be1a92932ad9","name":"","label":"Click to select field","tooltip":"","place":"Select option","group":"80c3c711c2b0a57f","order":5,"width":"10","height":"2","passthru":false,"multiple":false,"options":[{"label":"latitude","value":"latitude","type":"str"},{"label":"longitude","value":"longitude","type":"str"},{"label":"speed","value":"speed","type":"str"},{"label":"satellites","value":"satellites","type":"str"},{"label":"altitude","value":"altitude","type":"str"}],"payload":"","topic":"payload","topicType":"msg","className":"","x":330,"y":460,"wires":[["c8f0255fbc42870a"]]},{"id":"fab12d8b5355e9b2","type":"ui_template","z":"6ec8be1a92932ad9","group":"0b4c2b7e9d3f6da3","name":"LatIframe2","order":1,"width":0,"height":0,"format":"<html>\n<iframe sandbox=\"allow-same-origin allow-scripts allow-popups allow-forms\" id=\"latFrame2\" width=\"900px\" height=\"400px\" style = \"overflow:hidden; margin:auto; border:0px solid green;\"></iframe>\n\n<script>\n(function(scope) {\n    scope.$watch('msg', function(msg) {\n        var x = document.getElementById('latFrame2');\n        x.setAttribute('src', msg.payload); \n        });\n})(scope);\n</script>\n</html>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":false,"templateScope":"local","className":"","x":1250,"y":60,"wires":[[]]},{"id":"93cd6505cb37ad22","type":"ui_template","z":"6ec8be1a92932ad9","group":"eb46ee4bc4bd20e8","name":"LonIframe2","order":1,"width":0,"height":0,"format":"<html>\n<iframe id=\"lonFrame2\" width=\"900px\" height=\"400px\" style = \"overflow:hidden; margin:auto; border:0px solid green;\"></iframe>\n\n<script>\n(function(scope) {\n    scope.$watch('msg', function(msg) {\n        var x = document.getElementById('lonFrame2');\n        x.setAttribute('src', msg.payload); \n        });\n})(scope);\n</script>\n</html>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":false,"templateScope":"local","className":"","x":1250,"y":140,"wires":[[]]},{"id":"0beae26050b3ef9d","type":"ui_template","z":"6ec8be1a92932ad9","group":"449b05f0a52b148c","name":"AltIframe","order":1,"width":0,"height":0,"format":"<html>\n<iframe id=\"altFrame\" width=\"900px\" height=\"400px\" style = \"overflow:hidden; margin:auto; border:0px solid green;\"></iframe>\n\n<script>\n(function(scope) {\n    scope.$watch('msg', function(msg) {\n        var x = document.getElementById('altFrame');\n        x.setAttribute('src', msg.payload); \n        });\n})(scope);\n</script>\n</html>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":false,"templateScope":"local","className":"","x":1260,"y":220,"wires":[[]]},{"id":"176d149f4cf49907","type":"ui_template","z":"6ec8be1a92932ad9","group":"d565a86e11023108","name":"SpdIframe","order":1,"width":0,"height":0,"format":"<html>\n<iframe id=\"spdFrame\" width=\"900px\" height=\"400px\" style = \"overflow:hidden; margin:auto; border:0px solid green;\"></iframe>\n\n<script>\n(function(scope) {\n    scope.$watch('msg', function(msg) {\n        var x = document.getElementById('spdFrame');\n        x.setAttribute('src', msg.payload); \n        });\n})(scope);\n</script>\n</html>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":false,"templateScope":"local","className":"","x":1250,"y":360,"wires":[[]]},{"id":"9c859bf99ddc1728","type":"ui_template","z":"6ec8be1a92932ad9","group":"1e683531a81362c5","name":"SatsIframe","order":2,"width":0,"height":0,"format":"<html>\n<iframe id=\"satFrame2\" width=\"900px\" height=\"400px\" style = \"overflow:hidden; margin:auto; border:0px solid green;\"></iframe>\n\n<script>\n(function(scope) {\n    scope.$watch('msg', function(msg) {\n        var x = document.getElementById('satFrame2');\n        x.setAttribute('src', msg.payload); \n        });\n})(scope);\n</script>\n</html>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":false,"templateScope":"local","className":"","x":1250,"y":440,"wires":[[]]},{"id":"f4490b330279aa43","type":"ui_template","z":"6ec8be1a92932ad9","group":"c971da7ac6c5d4a9","name":"mapIframe","order":1,"width":0,"height":0,"format":"<html>\n<iframe id=\"mapFrame2\" width=\"900px\" height=\"400px\" style = \"overflow:hidden; margin:auto; border:0px solid green;\"></iframe>\n\n<script>\n(function(scope) {\n    scope.$watch('msg', function(msg) {\n        var x = document.getElementById('mapFrame2');\n        x.setAttribute('src', msg.payload); \n        });\n})(scope);\n</script>\n</html>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":false,"templateScope":"local","className":"","x":1250,"y":520,"wires":[[]]},{"id":"c4aed6b1ccce909f","type":"ui_template","z":"6ec8be1a92932ad9","group":"cf42febbb6efc9be","name":"statsiframe","order":1,"width":0,"height":0,"format":"<html>\n<iframe id=\"statsFrame2\" width=\"900px\" height=\"400px\" style = \"overflow:hidden; margin:auto; border:0px solid green;\"></iframe>\n\n<script>\n(function(scope) {\n    scope.$watch('msg', function(msg) {\n        var x = document.getElementById('statsFrame2');\n        x.setAttribute('src', msg.payload); \n        });\n})(scope);\n</script>\n</html>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":false,"templateScope":"local","className":"","x":1250,"y":600,"wires":[[]]},{"id":"aed140cb4721e9ef","type":"postgresql","z":"6ec8be1a92932ad9","name":"","query":"SELECT DISTINCT device FROM mqtt_consumer;\n","postgreSQLConfig":"af6cc76ed859abc3","split":false,"rowsPerMsg":1,"outputs":1,"x":230,"y":540,"wires":[["361be63ef6f04d92"]]},{"id":"789d1249c2d9722f","type":"postgresql","z":"6ec8be1a92932ad9","name":"","query":"SELECT DISTINCT sessionid FROM mqtt_consumer \norder by sessionid desc;","postgreSQLConfig":"af6cc76ed859abc3","split":false,"rowsPerMsg":1,"outputs":1,"x":150,"y":300,"wires":[["62ca73c402b1900d"]]},{"id":"b69ac42498ed71be","type":"postgresql","z":"6ec8be1a92932ad9","name":"","query":"SELECT latitude, longitude, speed, satellites, altitude, device, \"time\" FROM mqtt_consumer WHERE device =  $2 and sessionid = $1 ","postgreSQLConfig":"af6cc76ed859abc3","split":false,"rowsPerMsg":"100000","outputs":1,"x":1090,"y":700,"wires":[["640b4090313d5735"]]},{"id":"aa272bee1079eb6a","type":"function","z":"6ec8be1a92932ad9","name":"function 21","func":"var sessionId = msg.payload\nmsg.sessionId = parseInt(sessionId)\nflow.set(\"sessionId\", msg.sessionId)\nreturn msg","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":770,"y":300,"wires":[["9cb3d108de8d0e5d","28c3eb0f8ac18141","7fa0c7c64a7f316f","6b4e427fb87dace7","c73b85ee7b3a801e","166b5b3fd76e50a0","f85183421a821f7a"]]},{"id":"d5897ac97fb87071","type":"function","z":"6ec8be1a92932ad9","name":"function 22","func":"\nvar id = flow.get(\"sessionId\")\nvar device = flow.get(\"deviceId\")\nmsg.params = [id, device]\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":870,"y":660,"wires":[["b69ac42498ed71be"]]},{"id":"c9568c244eb9ccc0","type":"function","z":"6ec8be1a92932ad9","name":"function 23","func":"flow.set(\"deviceId\", msg.payload)\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":510,"y":640,"wires":[["2fcd75b8b28d55fa"]]},{"id":"420e34f323cb0d21","type":"downloadfile","z":"6ec8be1a92932ad9","name":"","filename":"","encoding":"utf8","x":1470,"y":780,"wires":[]}]