ConfigFiles/flows.json
[
    {
        "id": "9ff186a6e56048ac",
        "type": "tab",
        "label": "Main Page",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "c4a71c301976b6ad",
        "type": "ui-button-group",
        "z": "9ff186a6e56048ac",
        "name": "Set Graphs Time Range",
        "group": "942a36ba6f67aeec",
        "order": 1,
        "width": "0",
        "height": "0",
        "label": "Set graphs time range",
        "rounded": true,
        "useThemeColors": true,
        "passthru": false,
        "options": [
            {
                "label": "5 minutes",
                "icon": "",
                "value": "5",
                "valueType": "num",
                "color": "#009933"
            },
            {
                "label": "30 minutes",
                "icon": "",
                "value": "30",
                "valueType": "num",
                "color": "#999999"
            },
            {
                "label": "1 hour",
                "icon": "",
                "value": "60",
                "valueType": "num",
                "color": "#ff6666"
            },
            {
                "label": "3 hours",
                "icon": "",
                "value": "180",
                "valueType": "num",
                "color": "#009999"
            }
        ],
        "topic": "topic",
        "topicType": "msg",
        "x": 1150,
        "y": 340,
        "wires": [
            [
                "eb702432c37dddbf"
            ]
        ]
    },
    {
        "id": "eb702432c37dddbf",
        "type": "function",
        "z": "9ff186a6e56048ac",
        "name": "Set Time Range",
        "func": "msg.fromdate = \"&from=now-\" + msg.payload + \"m&to=now\";\nflow.set(\"Timestamp\",msg.payload)\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1200,
        "y": 260,
        "wires": [
            [
                "35d0f21077bde5a3",
                "5c218865d796fc2d",
                "07316150701d6ed0",
                "215ee0024f4df9fc",
                "c8acebda2638b792",
                "29f15e8f693d99b4",
                "26775fd51ba00d27"
            ]
        ]
    },
    {
        "id": "35d0f21077bde5a3",
        "type": "function",
        "z": "9ff186a6e56048ac",
        "name": "Latitude graph builder",
        "func": "var timeStamp = flow.get(\"Timestamp\")\nmsg.payload = \"http://192.168.0.213/grafana/d-solo/a3f5b42a-39cc-4268-9b55-2af702fe2000/recent-data?orgId=1\" +\n    \"&refresh=5s\" +\n    \"&theme=light\" +\n    \"&var-GetTime=\" + timeStamp +\n    \"&panelId=\" + 1 +\n    msg.fromdate\n\nreturn msg;\n\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1500,
        "y": 20,
        "wires": [
            [
                "180d6276f8502746"
            ]
        ]
    },
    {
        "id": "180d6276f8502746",
        "type": "ui-template",
        "z": "9ff186a6e56048ac",
        "group": "a0ba1c26fbb229b5",
        "page": "",
        "ui": "",
        "name": "Latitude Template",
        "order": 2,
        "width": 0,
        "height": 0,
        "head": "",
        "format": "<template>\n      <iframe  \n              id=\"latitudeIframe\"\n              class=\"responsive-iframe\"\n              style=\"overflow:hidden; margin:auto; border:0px solid green;\"></iframe>\n    </template>\n<script>\nthis.$socket.on('msg-input:' + this.id, function(msg) {\nvar x = document.getElementById('latitudeIframe');\nx.setAttribute('src', msg.payload);\n})\n</script>",
        "storeOutMessages": true,
        "passthru": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 1810,
        "y": 20,
        "wires": [
            []
        ]
    },
    {
        "id": "93e2ad51bdc8c501",
        "type": "function",
        "z": "9ff186a6e56048ac",
        "name": "Pass device to iFrame",
        "func": "var device = msg.payload[\"Show tracks of device:\"];\ndevice = device.replaceAll(':', '%3A');\ndevice = device.replaceAll('\"', '');\nflow.set(\"deviceId\", device);\nmsg.payload = device;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1520,
        "y": 560,
        "wires": [
            [
                "26775fd51ba00d27"
            ]
        ]
    },
    {
        "id": "20e859677b853066",
        "type": "function",
        "z": "9ff186a6e56048ac",
        "name": "if started",
        "func": "var obj = JSON.parse(msg.payload)\nvar status = obj.Status\n\nif (status == \"started\") {\n    msg.enabled = false\n}\nelse if (status == \"stopped\") {\n    msg.enabled = true\n}\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 340,
        "y": 240,
        "wires": [
            [
                "bc5148e8d73a643d"
            ]
        ]
    },
    {
        "id": "d9039de53aec5ce5",
        "type": "function",
        "z": "9ff186a6e56048ac",
        "name": "if stopped",
        "func": "var obj = JSON.parse(msg.payload)\nvar status = obj.Status\n\nif (status == \"started\") {\n    msg.enabled = true\n}\nelse if (status == \"stopped\") {\n    msg.enabled = false\n}\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 340,
        "y": 320,
        "wires": [
            [
                "91aad5ed5fc93ff2"
            ]
        ]
    },
    {
        "id": "bc5148e8d73a643d",
        "type": "ui-button",
        "z": "9ff186a6e56048ac",
        "group": "942a36ba6f67aeec",
        "name": "",
        "label": "Start session",
        "order": 3,
        "width": "0",
        "height": "0",
        "emulateClick": false,
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "iconPosition": "left",
        "payload": "1",
        "payloadType": "str",
        "topic": "enabled",
        "topicType": "msg",
        "x": 530,
        "y": 240,
        "wires": [
            [
                "8666127ab9061ff7",
                "b53aa078b622c886"
            ]
        ]
    },
    {
        "id": "91aad5ed5fc93ff2",
        "type": "ui-button",
        "z": "9ff186a6e56048ac",
        "group": "942a36ba6f67aeec",
        "name": "",
        "label": "Stop session",
        "order": 4,
        "width": "0",
        "height": "0",
        "emulateClick": false,
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "iconPosition": "left",
        "payload": "1",
        "payloadType": "str",
        "topic": "disabled",
        "topicType": "msg",
        "x": 530,
        "y": 320,
        "wires": [
            [
                "0081a6ec04dca689",
                "b53aa078b622c886"
            ]
        ]
    },
    {
        "id": "5c218865d796fc2d",
        "type": "function",
        "z": "9ff186a6e56048ac",
        "name": "Longitude graph builder",
        "func": "var timeStamp = flow.get(\"Timestamp\")\nmsg.payload = \"http://192.168.0.213/grafana/d-solo/a3f5b42a-39cc-4268-9b55-2af702fe2000/recent-data?orgId=1\" +\n    \"&refresh=5s\" +\n    \"&theme=light\" +\n    \"&var-GetTime=\" + timeStamp +\n    \"&panelId=\" + 3 +\n    msg.fromdate\n\nreturn msg;\n\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1510,
        "y": 100,
        "wires": [
            [
                "125197e53cf7c46a"
            ]
        ]
    },
    {
        "id": "125197e53cf7c46a",
        "type": "ui-template",
        "z": "9ff186a6e56048ac",
        "group": "866ecad3517cd489",
        "page": "",
        "ui": "",
        "name": "LongitudeTemplate",
        "order": 1,
        "width": 0,
        "height": 0,
        "head": "",
        "format": "<template>\n      <iframe  \n              id=\"longitudeIframe\"\n              class=\"responsive-iframe\"\n              style=\"overflow:hidden; margin:auto; border:0px solid green;\"></iframe>\n    </template>\n<script>\nthis.$socket.on('msg-input:' + this.id, function(msg) {\nvar x = document.getElementById('longitudeIframe');\nx.setAttribute('src', msg.payload);\n})\n</script>",
        "storeOutMessages": true,
        "passthru": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 1810,
        "y": 100,
        "wires": [
            []
        ]
    },
    {
        "id": "07316150701d6ed0",
        "type": "function",
        "z": "9ff186a6e56048ac",
        "name": "Speed graph builder",
        "func": "var timeStamp = flow.get(\"Timestamp\")\nmsg.payload = \"http://192.168.0.213/grafana/d-solo/a3f5b42a-39cc-4268-9b55-2af702fe2000/recent-data?orgId=1\" +\n    \"&refresh=5s\" +\n    \"&theme=light\" +\n    \"&var-GetTime=\" + timeStamp +\n    \"&panelId=\" + 5 +\n    msg.fromdate\n\nreturn msg;\n\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1500,
        "y": 160,
        "wires": [
            [
                "6206e92d8e162b75"
            ]
        ]
    },
    {
        "id": "6206e92d8e162b75",
        "type": "ui-template",
        "z": "9ff186a6e56048ac",
        "group": "00cbb070dfaa9baf",
        "page": "",
        "ui": "",
        "name": "Speed Template",
        "order": 0,
        "width": 0,
        "height": 0,
        "head": "",
        "format": "<template>\n      <iframe  \n              id=\"speediFrame\"\n              class=\"responsive-iframe\"\n              style=\"overflow:hidden; margin:auto; border:0px solid green;\"></iframe>\n    </template>\n<script>\nthis.$socket.on('msg-input:' + this.id, function(msg) {\nvar x = document.getElementById('speediFrame');\nx.setAttribute('src', msg.payload);\n})\n</script>",
        "storeOutMessages": true,
        "passthru": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 1800,
        "y": 160,
        "wires": [
            []
        ]
    },
    {
        "id": "215ee0024f4df9fc",
        "type": "function",
        "z": "9ff186a6e56048ac",
        "name": "Altitude graph builder",
        "func": "var timeStamp = flow.get(\"Timestamp\")\nmsg.payload = \"http://192.168.0.213/grafana/d-solo/a3f5b42a-39cc-4268-9b55-2af702fe2000/recent-data?orgId=1\" +\n    \"&refresh=5s\" +\n    \"&theme=light\" +\n    \"&var-GetTime=\" + timeStamp +\n    \"&panelId=\" + 4 +\n    msg.fromdate\n\nreturn msg;\n\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1500,
        "y": 240,
        "wires": [
            [
                "e51f82babed62a02"
            ]
        ]
    },
    {
        "id": "e51f82babed62a02",
        "type": "ui-template",
        "z": "9ff186a6e56048ac",
        "group": "d3a468171151978b",
        "page": "",
        "ui": "",
        "name": "Altitude Template",
        "order": 0,
        "width": 0,
        "height": 0,
        "head": "",
        "format": "<template>\n      <iframe  \n              id=\"altitudeiFrame\"\n              class=\"responsive-iframe\"\n              style=\"overflow:hidden; margin:auto; border:0px solid green;\"></iframe>\n    </template>\n<script>\nthis.$socket.on('msg-input:' + this.id, function(msg) {\nvar x = document.getElementById('altitudeiFrame');\nx.setAttribute('src', msg.payload);\n})\n</script>",
        "storeOutMessages": true,
        "passthru": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 1790,
        "y": 240,
        "wires": [
            []
        ]
    },
    {
        "id": "c8acebda2638b792",
        "type": "function",
        "z": "9ff186a6e56048ac",
        "name": "Satellites graph builder",
        "func": "var timeStamp = flow.get(\"Timestamp\")\nmsg.payload = \"http://192.168.0.213/grafana/d-solo/a3f5b42a-39cc-4268-9b55-2af702fe2000/recent-data?orgId=1\" +\n    \"&refresh=5s\" +\n    \"&theme=light\" +\n    \"&var-GetTime=\" + timeStamp +\n    \"&panelId=\" + 7 +\n    msg.fromdate\n\nreturn msg;\n\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1500,
        "y": 320,
        "wires": [
            [
                "213350f9232d1129"
            ]
        ]
    },
    {
        "id": "213350f9232d1129",
        "type": "ui-template",
        "z": "9ff186a6e56048ac",
        "group": "cb340146829ab097",
        "page": "",
        "ui": "",
        "name": "Satellites Template",
        "order": 1,
        "width": 0,
        "height": 0,
        "head": "",
        "format": "<template>\n      <iframe  \n              id=\"satellitesiFrame\"\n              class=\"responsive-iframe\"\n              style=\"overflow:hidden; margin:auto; border:0px solid green;\"></iframe>\n    </template>\n<script>\nthis.$socket.on('msg-input:' + this.id, function(msg) {\nvar x = document.getElementById('satellitesiFrame');\nx.setAttribute('src', msg.payload);\n})\n</script>",
        "storeOutMessages": true,
        "passthru": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 1790,
        "y": 320,
        "wires": [
            []
        ]
    },
    {
        "id": "29f15e8f693d99b4",
        "type": "function",
        "z": "9ff186a6e56048ac",
        "name": "Statistics graph builder",
        "func": "var timeStamp = flow.get(\"Timestamp\")\nmsg.payload = \"http://192.168.0.213/grafana/d-solo/a3f5b42a-39cc-4268-9b55-2af702fe2000/recent-data?orgId=1\" +\n    \"&refresh=5s\" +\n    \"&theme=light\" +\n    \"&var-GetTime=\" + timeStamp +\n    \"&panelId=\" + 6 +\n    msg.fromdate\n\nreturn msg;\n\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1500,
        "y": 400,
        "wires": [
            [
                "5bfa7aa7859c3a6d"
            ]
        ]
    },
    {
        "id": "5bfa7aa7859c3a6d",
        "type": "ui-template",
        "z": "9ff186a6e56048ac",
        "group": "15ded955ca926cc6",
        "page": "",
        "ui": "",
        "name": "Statistics Template",
        "order": 1,
        "width": 0,
        "height": 0,
        "head": "",
        "format": "<template>\n      <iframe  \n              id=\"statisticsiFrame\"\n              class=\"responsive-iframe\"\n              style=\"overflow:hidden; margin:auto; border:0px solid green;\"></iframe>\n    </template>\n<script>\nthis.$socket.on('msg-input:' + this.id, function(msg) {\nvar x = document.getElementById('statisticsiFrame');\nx.setAttribute('src', msg.payload);\n})\n</script>",
        "storeOutMessages": true,
        "passthru": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "responsive-iframe",
        "x": 1790,
        "y": 400,
        "wires": [
            []
        ]
    },
    {
        "id": "26775fd51ba00d27",
        "type": "function",
        "z": "9ff186a6e56048ac",
        "name": "Map graph builder",
        "func": "var timeStamp = flow.get(\"Timestamp\")\nvar deviceId = flow.get(\"deviceId\")\nmsg.payload = \"http://192.168.0.213/grafana/d-solo/a3f5b42a-39cc-4268-9b55-2af702fe2000/recent-data?orgId=1\" +\n    \"&var-GetTime=\" + timeStamp +\n    \"&theme=light\" +\n    \"&var-getDevices=\" + deviceId + \n    \"&panelId=\" + 2 +\n    msg.fromdate\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1490,
        "y": 480,
        "wires": [
            [
                "2890c2715a7015cd"
            ]
        ]
    },
    {
        "id": "2890c2715a7015cd",
        "type": "ui-template",
        "z": "9ff186a6e56048ac",
        "group": "a26721c1e2cfabc2",
        "page": "",
        "ui": "",
        "name": "Map Template",
        "order": 1,
        "width": 0,
        "height": 0,
        "head": "",
        "format": "<template>\n      <iframe  \n              id=\"mapIframe\"\n              class=\"responsive-iframe\"\n              style=\"overflow:hidden; margin:auto; border:0px solid green;\"></iframe>\n    </template>\n<script>\nthis.$socket.on('msg-input:' + this.id, function(msg) {\nvar x = document.getElementById('mapIframe');\nx.setAttribute('src', msg.payload);\n})\n</script>",
        "storeOutMessages": true,
        "passthru": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 1780,
        "y": 480,
        "wires": [
            []
        ]
    },
    {
        "id": "1ff2e873641f5376",
        "type": "ui-template",
        "z": "9ff186a6e56048ac",
        "group": "cb340146829ab097",
        "page": "",
        "ui": "",
        "name": "",
        "order": 2,
        "width": "1",
        "height": "1",
        "head": "",
        "format": "<style>\n.responsive-iframe {\n  width: 100%;\n  height: 400px; /* Default height */\n}\n\n/* Media queries for responsiveness */\n@media screen and (max-width: 768px) {\n  .responsive-iframe {\n    height: 300px; /* Adjust height for smaller screens */\n  }\n}\n</style>",
        "storeOutMessages": true,
        "passthru": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "responsive-iframe",
        "x": 1180,
        "y": 120,
        "wires": [
            []
        ]
    },
    {
        "id": "88d34033f814ed24",
        "type": "ui-button",
        "z": "9ff186a6e56048ac",
        "group": "b34978f36ce6c263",
        "name": "",
        "label": "Apply Threshold",
        "order": 3,
        "width": 0,
        "height": 0,
        "emulateClick": false,
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "iconPosition": "left",
        "payload": "threshold",
        "payloadType": "flow",
        "topic": "",
        "topicType": "str",
        "x": 140,
        "y": 1180,
        "wires": [
            [
                "f8aa8ce1c8b3d523"
            ]
        ]
    },
    {
        "id": "30fb3a06b98af2f5",
        "type": "ui-text-input",
        "z": "9ff186a6e56048ac",
        "group": "b34978f36ce6c263",
        "name": "",
        "label": "Set threshold",
        "order": 2,
        "width": 0,
        "height": 0,
        "topic": "topic",
        "topicType": "msg",
        "mode": "number",
        "delay": 300,
        "passthru": true,
        "sendOnDelay": false,
        "sendOnBlur": true,
        "sendOnEnter": true,
        "className": "",
        "x": 130,
        "y": 1100,
        "wires": [
            [
                "51fdb00c6b2f20e2"
            ]
        ]
    },
    {
        "id": "51fdb00c6b2f20e2",
        "type": "function",
        "z": "9ff186a6e56048ac",
        "name": "Set Threshold",
        "func": "flow.set(\"threshold\", msg.payload)\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 460,
        "y": 1100,
        "wires": [
            []
        ]
    },
    {
        "id": "50c16b2e697fe795",
        "type": "ui-text",
        "z": "9ff186a6e56048ac",
        "group": "942a36ba6f67aeec",
        "order": 6,
        "width": "20",
        "height": "1",
        "name": "",
        "label": "                                        Current session ID",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "style": true,
        "font": "",
        "fontSize": 16,
        "color": "#717171",
        "className": "",
        "x": 890,
        "y": 400,
        "wires": []
    },
    {
        "id": "879c189449b7898c",
        "type": "ui-table",
        "z": "9ff186a6e56048ac",
        "group": "942a36ba6f67aeec",
        "name": "select device",
        "label": "text",
        "order": 1,
        "width": 0,
        "height": 0,
        "maxrows": "0",
        "passthru": false,
        "autocols": true,
        "selectionType": "click",
        "columns": [],
        "x": 1110,
        "y": 780,
        "wires": [
            [
                "8c89243a422e02d2"
            ]
        ]
    },
    {
        "id": "8c89243a422e02d2",
        "type": "function",
        "z": "9ff186a6e56048ac",
        "name": "function 1",
        "func": "var device = msg.payload[\"Connected device\"];\n\nreturn msg",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1100,
        "y": 840,
        "wires": [
            [
                "389ed27f4abb24fd"
            ]
        ]
    },
    {
        "id": "670b326d9e01f889",
        "type": "ui-table",
        "z": "9ff186a6e56048ac",
        "group": "a26721c1e2cfabc2",
        "name": "Connected Devices",
        "label": "text",
        "order": 1,
        "width": 0,
        "height": 0,
        "maxrows": "0",
        "passthru": false,
        "autocols": true,
        "selectionType": "click",
        "columns": [],
        "x": 1510,
        "y": 620,
        "wires": [
            [
                "93e2ad51bdc8c501"
            ]
        ]
    },
    {
        "id": "c024490d74831c33",
        "type": "function",
        "z": "9ff186a6e56048ac",
        "name": "if started",
        "func": "var obj = JSON.parse(msg.payload)\nvar status = obj.session_id\nmsg.payload = status\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 880,
        "y": 260,
        "wires": [
            [
                "50c16b2e697fe795"
            ]
        ]
    },
    {
        "id": "8666127ab9061ff7",
        "type": "http request",
        "z": "9ff186a6e56048ac",
        "name": "",
        "method": "POST",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "http://127.0.0.1:5000/api/session/start",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 710,
        "y": 240,
        "wires": [
            [
                "c024490d74831c33"
            ]
        ]
    },
    {
        "id": "0081a6ec04dca689",
        "type": "http request",
        "z": "9ff186a6e56048ac",
        "name": "",
        "method": "POST",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "http://127.0.0.1:5000/api/session/stop",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 710,
        "y": 320,
        "wires": [
            []
        ]
    },
    {
        "id": "b53aa078b622c886",
        "type": "http request",
        "z": "9ff186a6e56048ac",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "http://127.0.0.1:5000/api/session/status",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 170,
        "y": 280,
        "wires": [
            [
                "20e859677b853066",
                "d9039de53aec5ce5"
            ]
        ]
    },
    {
        "id": "604a53a0978fd698",
        "type": "inject",
        "z": "9ff186a6e56048ac",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 150,
        "y": 360,
        "wires": [
            [
                "b53aa078b622c886"
            ]
        ]
    },
    {
        "id": "abd94eb4e1c5d91c",
        "type": "function",
        "z": "9ff186a6e56048ac",
        "name": "Prepare connected Devices",
        "func": "let connectedDevices = context.get('connectedDevices') || [];\n\nfunction handleMessages(msg) {\n\n    if (msg.payload.connected_device) {\n        if (!connectedDevices.includes(msg.payload.connected_device)) {\n            connectedDevices.push(msg.payload.connected_device); // Poprawka tutaj\n        }\n    } else if (msg.payload.disconnected_device) {\n        const index = connectedDevices.indexOf(msg.payload.disconnected_device);\n        if (index !== -1) {\n            connectedDevices.splice(index, 1);\n        }\n    }\n\n    context.set('connectedDevices', connectedDevices);\n\n    const jsonData = connectedDevices.map(device => {\n        return { \"Connected device\": device }; // Poprawka klucza tutaj\n    });\n\n    msg.payload = jsonData;\n    return msg;\n}\n\nreturn handleMessages(msg);\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1140,
        "y": 720,
        "wires": [
            [
                "879c189449b7898c",
                "670b326d9e01f889"
            ]
        ]
    },
    {
        "id": "b2d94d70bb9391d7",
        "type": "ui-table",
        "z": "9ff186a6e56048ac",
        "group": "b34978f36ce6c263",
        "name": "Faulted Devices ",
        "label": "text",
        "order": 1,
        "width": 0,
        "height": 0,
        "maxrows": "0",
        "passthru": false,
        "autocols": true,
        "selectionType": "none",
        "columns": [],
        "x": 900,
        "y": 540,
        "wires": [
            []
        ]
    },
    {
        "id": "02c362d72f28e567",
        "type": "function",
        "z": "9ff186a6e56048ac",
        "name": "Faulted Devices handler",
        "func": "let faultedAddresses = context.get('faultedAddresses') || [];\n\nfunction handleMessages(msg) {\n    if (msg.faulted) {\n        if (!faultedAddresses.includes(msg.payload)) {\n            faultedAddresses.push(msg.payload);\n        }\n    } else if (msg.operative) {\n        const index = faultedAddresses.indexOf(msg.payload);\n        if (index !== -1) {\n            faultedAddresses.splice(index, 1);\n        }\n    }\n\n    context.set('faultedAddresses', faultedAddresses);\n\n    const jsonData = faultedAddresses.map(device => {\n        return { \"Faulted device\": device };\n    });\n\n    msg.payload = jsonData;\n    return msg;\n}\n\nreturn handleMessages(msg);\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 630,
        "y": 560,
        "wires": [
            [
                "b2d94d70bb9391d7"
            ]
        ]
    },
    {
        "id": "389ed27f4abb24fd",
        "type": "http request",
        "z": "9ff186a6e56048ac",
        "name": "",
        "method": "POST",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "http://localhost/api/device/detect",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 1130,
        "y": 940,
        "wires": [
            []
        ]
    },
    {
        "id": "ac3f4c656a951609",
        "type": "http request",
        "z": "9ff186a6e56048ac",
        "name": "",
        "method": "POST",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "http://127.0.0.1:5000/api/alghoritm/threshold/set",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 550,
        "y": 1180,
        "wires": [
            [
                "2cd8e2f73cd80f22"
            ]
        ]
    },
    {
        "id": "2cd8e2f73cd80f22",
        "type": "ui-notification",
        "z": "9ff186a6e56048ac",
        "ui": "ced1aee10f7070c6",
        "position": "top right",
        "colorDefault": true,
        "color": "#000000",
        "displayTime": "3",
        "showCountdown": true,
        "outputs": 1,
        "allowDismiss": true,
        "dismissText": "Close",
        "raw": false,
        "className": "",
        "name": "",
        "x": 810,
        "y": 1120,
        "wires": [
            []
        ]
    },
    {
        "id": "f8aa8ce1c8b3d523",
        "type": "function",
        "z": "9ff186a6e56048ac",
        "name": "function 2",
        "func": "var threshold = msg.payload\n\nmsg.payload = { \"threshold\": parseFloat(threshold)}\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 320,
        "y": 1200,
        "wires": [
            [
                "ac3f4c656a951609"
            ]
        ]
    },
    {
        "id": "3ea0703966495e62",
        "type": "websocket in",
        "z": "9ff186a6e56048ac",
        "name": "",
        "server": "",
        "client": "8cf92dfac584d0ba",
        "x": 200,
        "y": 720,
        "wires": [
            [
                "0278adb9364578b2",
                "5c02accc361a1423"
            ]
        ]
    },
    {
        "id": "0278adb9364578b2",
        "type": "function",
        "z": "9ff186a6e56048ac",
        "name": "function 3",
        "func": "var ping = msg.payload\nif (ping == \"ping\")\n    msg.payload = \"pong\"\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 480,
        "y": 620,
        "wires": [
            [
                "be08d8fe3564e486"
            ]
        ]
    },
    {
        "id": "be08d8fe3564e486",
        "type": "websocket out",
        "z": "9ff186a6e56048ac",
        "name": "",
        "server": "",
        "client": "8cf92dfac584d0ba",
        "x": 520,
        "y": 500,
        "wires": []
    },
    {
        "id": "5c02accc361a1423",
        "type": "function",
        "z": "9ff186a6e56048ac",
        "name": "function 4",
        "func": "msg.payload = JSON.parse(msg.payload); // Konwertuj string JSON na obiekt JSON\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 520,
        "y": 720,
        "wires": [
            [
                "abd94eb4e1c5d91c"
            ]
        ]
    },
    {
        "id": "942a36ba6f67aeec",
        "type": "ui-group",
        "name": "Data Control",
        "page": "22da3639395340e4",
        "width": "20",
        "height": "1",
        "order": 1,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false"
    },
    {
        "id": "a0ba1c26fbb229b5",
        "type": "ui-group",
        "name": "Latitude",
        "page": "22da3639395340e4",
        "width": "20",
        "height": "1",
        "order": 4,
        "showTitle": false,
        "className": "",
        "visible": "true",
        "disabled": "false"
    },
    {
        "id": "866ecad3517cd489",
        "type": "ui-group",
        "name": "Longitude",
        "page": "22da3639395340e4",
        "width": "20",
        "height": "1",
        "order": 5,
        "showTitle": false,
        "className": "",
        "visible": "true",
        "disabled": "false"
    },
    {
        "id": "00cbb070dfaa9baf",
        "type": "ui-group",
        "name": "Speed",
        "page": "22da3639395340e4",
        "width": "20",
        "height": "1",
        "order": 7,
        "showTitle": false,
        "className": "",
        "visible": "true",
        "disabled": "false"
    },
    {
        "id": "d3a468171151978b",
        "type": "ui-group",
        "name": "Altitude",
        "page": "22da3639395340e4",
        "width": "20",
        "height": "1",
        "order": 8,
        "showTitle": false,
        "className": "",
        "visible": "true",
        "disabled": "false"
    },
    {
        "id": "cb340146829ab097",
        "type": "ui-group",
        "name": "Satellites",
        "page": "22da3639395340e4",
        "width": "20",
        "height": "1",
        "order": 9,
        "showTitle": false,
        "className": "",
        "visible": "true",
        "disabled": "false"
    },
    {
        "id": "15ded955ca926cc6",
        "type": "ui-group",
        "name": "Statistics",
        "page": "22da3639395340e4",
        "width": "20",
        "height": "1",
        "order": 3,
        "showTitle": false,
        "className": "",
        "visible": "true",
        "disabled": "false"
    },
    {
        "id": "a26721c1e2cfabc2",
        "type": "ui-group",
        "name": "Map",
        "page": "22da3639395340e4",
        "width": "20",
        "height": "1",
        "order": 6,
        "showTitle": false,
        "className": "",
        "visible": "true",
        "disabled": "false"
    },
    {
        "id": "b34978f36ce6c263",
        "type": "ui-group",
        "name": "Alghoritm control",
        "page": "22da3639395340e4",
        "width": "20",
        "height": "1",
        "order": 2,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false"
    },
    {
        "id": "ced1aee10f7070c6",
        "type": "ui-base",
        "name": "My Dashboard",
        "path": "/dashboard",
        "includeClientData": true,
        "acceptsClientConfig": [
            "ui-notification",
            "ui-control"
        ],
        "showPathInSidebar": false,
        "navigationStyle": "default"
    },
    {
        "id": "8cf92dfac584d0ba",
        "type": "websocket-client",
        "path": "ws://127.0.0.1:5000/api/connected_devices",
        "tls": "",
        "wholemsg": "false",
        "hb": "10",
        "subprotocol": ""
    },
    {
        "id": "22da3639395340e4",
        "type": "ui-page",
        "name": "Home",
        "ui": "ced1aee10f7070c6",
        "path": "/home",
        "icon": "home",
        "layout": "notebook",
        "theme": "08b10e6c78fd3e99",
        "order": -1,
        "className": "",
        "visible": "true",
        "disabled": "false"
    },
    {
        "id": "08b10e6c78fd3e99",
        "type": "ui-theme",
        "name": "Default Theme",
        "colors": {
            "surface": "#ffffff",
            "primary": "#0094ce",
            "bgPage": "#eeeeee",
            "groupBg": "#ffffff",
            "groupOutline": "#cccccc"
        },
        "sizes": {
            "pagePadding": "12px",
            "groupGap": "12px",
            "groupBorderRadius": "4px",
            "widgetGap": "12px"
        }
    }
]
